<form action="/run-tests" method="POST">
    <label> Click here to run test cases</label>

    <input type="submit" value="Run test cases!">

</form>


<html><head></head>
<h1 style="
    display: flex;
    justify-content: center;
    align-items: center;
">Test case for Waters Micro apps</h1>
<style>
    table , th,td {
      border: 1px solid black;
      border-collapse:collapse;
      }
</style>
<table style="width:100%    ">
    <tr align="left">
    <th align="center"> Test case No           </th>
        <th align="center"> Test case Description            </th>
        <th align="right"> Result               </th>
    </tr>
    <tr>
        <td align="left"> 1 </td>
        <td align="center"> URL load </td>
        <td align="right"> {{UrlAccessMessage}}!</td>
    </tr>
    <tr>
        <td align="left"> 2 </td>
        <td align="center"> login</td>
        <td align="right"> {{loginMessage}}</td>
    </tr>
     <tr>
        <td align="left"> 3 </td>
        <td align="center"> CCSonDemandMessage</td>
        <td align="right">{{CCSonDemandMessage}}!</td>
    </tr>
    <tr>
        <td align="left"> 4 </td>
        <td align="center"> ForEmpower</td>
        <td align="right">{{ForEmpowerMessage}}!</td>
    </tr>
    <tr>
        <td align="left"> 5 </td>
        <td align="center"> DirectCCSonDemand</td>
        <td align="right">{{DirectCCSonDemandMessage}}!</td>
    </tr>
    <tr>
        <td align="left"> 6 </td>
        <td align="center"> Register</td>
        <td align="right">{{registerMessage}}!</td>
    </tr>
    <tr>
        <td align="left"> 7 </td>
        <td align="center"> DataConnect</td>
        <td align="right">{{DataConnectMessage}}!</td>
    </tr>
    <tr>
        <td align="left"> 8 </td>
        <td align="center"> Home_Exec</td>
        <td align="right">{{Home_ExecMessage}}!</td>
    </tr>
    <tr>
        <td align="left"> 9</td>
        <td align="center"> scroll_homeMessage</td>
        <td align="right">{{scroll_homeMessage}}!</td>
    </tr>
   <tr>
     <td align="left"> 10</td>
     <td align="center"> Smart_LC_method</td>
     <td align="right">{{Smart_LCMethodMessage}}!</td>
   </tr>
    <tr>
     <td align="left"> 11</td>
     <td align="center"> ReportFeedback</td>
     <td align="right">{{ReportFeedbackMessage}}!</td>
   </tr>




</table>



